body{
    background-color: #282D33;
    color: white;
}

.navbar{
    background-color: #20232C;
    height:50px;
}

.about{
    background-color:white;
    height:800px;
    display:block;
}