body{
    background-color: #282D33;
    color: white;
}

.navbar{
    background-color: #20232C;
    height:50px;
}
.mainHero{
    height: 500px;
}
.about{
    background-color:white;
    height:300px;
    display:block;
}