body{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
    background-color: #20232C;
    height:50px;
}
.container{
    padding-left:20px;
    padding-right:20px;
    margin-left:auto;
    margin-right:auto;
    color:black;
    background-color:white;
    width: 100%;
}
.mainHero{
    background-color: #282D33;
    height: 400px;
    display:block;
}

#about{
    margin-top: 60px;
    padding-left: 20px;
    padding-right:20px;
    background-color:white;
    height:900px;
    margin-left:auto;
    margin-right:auto;

}